<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flask Rest</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to Turbo Charged Flask API Development</h1>
    <h2>Thanks for using Flask-Rest</h2>
</body>
</html>